#dev {
  position: fixed;
  left: 0;
  top: 0;
  background: green;
  color: white;
}

:root {
  scroll-behavior: smooth;
  --white: #FFFFFF;
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9D8665;
  --font-gold-dimmed: #7E6C51;
  --golden: #D2B183;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 100;
}

.nav-list-link:link,
.nav-list-link:visited {
  color: var(--white);
}

.nav-list-link:hover {
  color: var(--font-gold);
}

.nav-list-link:active {
  color: var(--font-gold-dimmed);
}

header,
main,
footer,
section {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

.content {
  margin-inline: auto;
}

header,
#welcome,
#explore,
#gallery,
footer {
  background: var(--bg-dark);
  color: var(--white);
}
/* Base styles — mobile (420px and below) */

/* 768px – Tablet Portrait */
@media (min-width: 768px) {}

/* 1024px – Tablet Landscape */
@media (min-width: 1024px) {}

/* 1920px – Desktop Full HD */
@media (min-width: 1920px) {
  .content {
    width: 1440px;
  }

  .header {
    height: 150px;
  }
  
  .nav-list {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    gap: 55px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}