/* base.css */

#dev {
  position: fixed;
  left: 0;
  top: 0;
  background: green;
  color: white;
}

:root {
  scroll-behavior: smooth;
  --white: #FFFFFF;
  --bg-dark: #030303;
  --bg-dark50: #03030380;
  --dark-red: #710707;
  --font-gold: #9D8665;
  --font-gold-dimmed: #7E6C51;
  --golden: #D2B183;
  --gray: #666666;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 100;
}

.nav-list-link:link,
.nav-list-link:visited {
  color: var(--white);
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
}

.nav-list-link:hover {
  color: var(--font-gold);
}

.nav-list-link:active {
  color: var(--font-gold-dimmed);
}

header,
main,
footer,
section {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Forum", serif;
  font-weight: 400;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.content {
  width: 100%;
  margin-inline: auto;
}

header,
#welcome,
#explore,
#gallery,
footer {
  background: var(--bg-dark);
  color: var(--white);
}

.cta {
  position: relative;
  z-index: 1;
}

.cta p {
  position: relative;
  font-weight: 300;
}

.cta a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  background: var(--dark-red);
  color: var(--white);
  transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
}

.cta a:hover {
  background: var(--font-gold);
}

#welcome .content {
  position: relative;
  height: 100%;
}

#welcome-slider {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
}

#welcome-slider::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.slider-view {
  display: flex;
  /* position: relative; */
  width: 100%;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}

.slider-view-slide {
  flex-shrink: 0;
  width: 1000px;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-view-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.slider-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  background: var(--bg-dark);
}

.slider-navigation .count {
  font-size: 22px;
  font-weight: 400;
}

.slider-navigation .thumbs {
  display: flex;
  gap: 24px;
}

.thumbs span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: var(--white);
  margin: 0 4px;
  cursor: pointer;
  transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
}

.thumbs span.active {
  background: var(--golden);
}

.thumbs span:hover {
  background: var(--font-gold);
}

.arrows button {
  background: none;
  border: none;
  cursor: pointer;
}

.arrows button svg {
  width: 30px;
  height: 8px;
}

.slider-navigation .arrows {
  display: flex;
  justify-content: space-between;
  height: 8px;
  width: 80px;
}

.arrows button svg path {
  fill: var(--white);
  transition: fill 0.5s ease;
  -webkit-transition: fill 0.5s ease;
  -moz-transition: fill 0.5s ease;
  -ms-transition: fill 0.5s ease;
  -o-transition: fill 0.5s ease;
}

.arrows button:hover svg path {
  fill: var(--font-gold);
}

footer {
  position: relative;
  font-size: 22px;
  letter-spacing: 2px;
}

footer .top {
  display: flex;
  gap: 100px;
  padding: 75px 0 50px;
  justify-content: space-between;
}

footer .top .links {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

footer .top .nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-items: center;
  gap: 150px;
}

footer .top .nav-list li .sub-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .top .social-media {
  display: flex;
  align-items: end;
  gap: 25px;
}

footer .top .social-media a svg * {
  transition: stroke 0.5s ease, fill 0.5s ease;
  -webkit-transition: stroke 0.5s ease, fill 0.5s ease;
  -moz-transition: stroke 0.5s ease, fill 0.5s ease;
  -ms-transition: stroke 0.5s ease, fill 0.5s ease;
  -o-transition: stroke 0.5s ease, fill 0.5s ease;
}

footer .top .social-media a:hover svg path {
  fill: var(--font-gold);
}

footer .top .social-media a:hover svg rect {
  stroke: var(--font-gold-dimmed);
}

footer::after {
  content: "";
  position: absolute;
  bottom: 124px;
  height: 3px;
  width: 100%;
  left: 0;
  right: 0;
  background: var(--gray);
}

footer .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
