/* hd.css */
@media (min-width: 1920px) {
  .content {
    max-width: 1440px;
  }

  .header {
    height: 150px;
  }

  .nav-list {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    gap: 55px;
  }

  #welcome {
    height: 810px;
  }

  h1 {
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    width: 600px;
    position: relative;
    z-index: 3;
  }

  .cta {
    top: 150px;
  }

  .cta p {
    margin-top: 25px;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    width: 445px;
  }

  .cta a {
    margin-top: 80px;
    width: 360px;
    height: 75px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 22px;
    letter-spacing: 2px;
  }

  #welcome-slider,
  .slider-view-slide,
  .slider-view-slide img {
    width: 1000px;
  }

  #welcome-slider::after {
    background: linear-gradient(90deg, var(--bg-dark) 0%, var(--bg-dark50) 16%, #00000000 31%);
  }

  .slider-view {
    height: 750px;
    width: 5000px;
  }

  .slider-navigation {
    width: 600px;
    height: 120px;
  }

  h2 {
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
  }

  h2::after {
    top: 115px;
  }

  #visiting {
    padding-block: 75px;
  }

  .visiting-grid {
    padding-top: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;
  }

  .visiting-grid .visual-item {
    margin-bottom: 15px;
  }

  .visual-item h3 {
    padding-top: 25px;
    font-size: 32px;
    letter-spacing: 5px;
    line-height: 35px;
  }

  .visual-item p:first-of-type {
    padding-top: 22px;
    font-size: 22px;
    line-height: 26px;
  }

  .visual-item p:last-of-type {
    padding-top: 10px;
    font-size: 18px;
    line-height: 21px;
  }

  #explore {
    padding-block: 75px;
  }

  #explore .content {
    display: grid;
    grid-template-columns: 660px 720px;
    gap: 60px;
  }

  #explore .content .text p {
    font-size: 22px;
    font-weight: 300;
  }

  #explore .content .text p:first-of-type {
    padding-top: 103px;
  }

  #explore .content .text p:not(:first-of-type) {
    padding-top: 25px;
  }

  #explore .content .picture {
    top: 15px;
  }

  #explore .picture,
  #explore .picture .ace #sliding img {
    width: 720px;
    height: 700px;
  }

  #video {
    padding-block: 75px;
  }

  #video .head p {
    display: flex;
    font-size: 22px;
    line-height: 38.5px;
    height: 90px;
    align-items: center;
  }

  #video .head {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #video-slider {}

  #video-tiles {}

  #video-navigation {}

  footer {
    font-size: 22px;
  }

  footer .bottom {
    height: 124px;
  }
}
